@import "../Switch/Switch.scss";

.switch.tabs {
    & {
        width: 347px;
        height: 55px;
        @include move(357px, 169px);
    }

    & .slider__item {
        font-family: "Circe";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 25px;

        padding: 15px;

        text-align: center;
    }

    & .slider::before {
        width: 169px;
        height: 55px;

        bottom: 0;
    }
}

#tabs {
    &-left {
        color: #fff;
    }

    &-right {
        color: #1e1e1e;
    }
}
